title{color: blue;}
h1{color-adjust:7%;
color: mediumpurple;
font-size: 45px}
#work{color: purple;
text-align: center;
font-size: 25px;}
body{background-image: url(https://media4.picsearch.com/is?zSchYDItJ2e3FqSmIXvuoobBqhekzhDaZgsXepbhwNY&height=255)}