body{
    background-color: rgba(37, 37, 82, 0.753);
    font-size: 20px
} 
h1{color: rgb(19, 46 53);font-size:50px;
text-align: center;
background-color: dimgray;}
h2{color: darkkhaki;
text-align:center}
p{color: antiquewhite;
text-align: center}
#img{ margin: 11% 34%;
float: left;}
a{color: black;
background-size: 40px;}
#sidenav{
    
}
#image{
    
    height: 100px;
}